<section id="info">
	<div id="myo-status">Status: Disconnected</div>
	<div id="profile">
		<select name="patients">
			<option value="select">Select patient profile</option>
		</select>
		<div id="picture"> </div>
		<div id="information">
			<p><strong>Name:</strong> Fendler, Adam</p>
			<p><strong>DOB:</strong> 12/17/87</p>
			<p><strong>Height:</strong> 6'00"</p>
			<p><strong>Weight:</strong> 205lbs</p>
			<p><strong>Condition:</strong> Immobile right arm</p>
		</div>
	</div>
	<div id="myo-data">
		<table class="table">
    		<thead>
      			<tr>
        			<th>Session Timestamp</th>
        			<th>X-coordinate</th>
        			<th>Y-coordinate</th>
        			<th>Z-coordinate</th>
        			<th>W-coordinate</th>
      			</tr>
    		</thead>
    		<tbody>
     			 <% data.forEach(function(re) {%>
             <tr>
              <td><%= re.Timestamp %></td>
              <td><%= re.x %></td>
              <td><%= re.y %></td>
              <td><%= re.z %></td>
              <td><%= re.w %></td>
            </tr>
          <% }); %>
      			
    		</tbody>
  		</table>
	</div>
	</div>
	<div id="session-history">
		<h1>Session History</h1>
	</div>
</section>